@charset "UTF-8";
body{
    color: #000;
}
.container{
    background-color: #eee;
    border: 1px solid #999;
    padding: 20px;
    margin: 20px;
    position: relative;
    min-height: 428px;
}
.team-name{
    width: 160px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #999;
    position: absolute;
    top: 20px;
    left: 20px;
}
.team-logo{
    width: 80px;
    height: 80px;
    border: 1px solid #999;
}
.team-name,.team-name{
    float: left;
    padding-left: 10px;
}
.team-intro{
    background-color: #fff;
    border: 1px solid #999;
    margin: 0 140px 0 220px;
    padding: 20px;
}
.member-logo{
    width: 80px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #999;
    position: absolute;
    top: 20px;
    right: 20px;
}
.logo{
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #999;
}
.logo-last{
    margin-bottom: 0;
}
